RewriteEngine On

# Exclude existing files or directories from rewriting
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect all requests to router.php in the /admin/ directory
RewriteRule ^(.*)$ /admin/index.php [L]